.services {
	padding: 0 6rem;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.services > section {
	flex: 1;
}

.services > section > img {
	height: 180px;

	margin-bottom: 5rem;
}

.services > section > h3 {
	margin-bottom: 1.5rem;
}

.services > section > p {
	margin-bottom: 1.5rem;

	color: #00000099;

	font-weight: 500;
}

.services > section > a {
	color: #f78065;

	font-weight: 700;
}
