.sites {
	margin-bottom: 12rem;

	display: flex;
	justify-content: space-between;
}

.sites > div:first-child {
	max-width: 325px;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.sites > div:first-child > button {
	width: 250px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	font-size: 1.125rem;

	border: none;
	outline: none;

	padding: 1rem 2rem;

	color: white;
	background-color: #f78065;

	transition: background-color 0.3s ease;
}

.sites > div:first-child > button:hover {
	background-color: #e66143;
}

.sites > div:last-child {
	display: flex;
	gap: 3rem;
}

.sites > div:last-child > section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sites > div:last-child > section > img {
	width: 230px;
	height: 418px;

	object-fit: cover;
}

.sites > div:last-child > section > p {
	color: #00000099;

	font-weight: 500;
}

.sites > div:last-child > section > a {
	color: #f78065;

	font-weight: 700;
}
